body {
    font-family: Arial, sans-serif;
}

#dog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.dog-item {
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
}

.dog-item img {
    width: 100%;
}

.dog-item .dog-info {
    padding: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(233, 227, 227, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #f7f6f6;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #131212;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #c7c1c1;
    text-decoration: none;
    cursor: pointer;
}

.adopt-button {
    display: block;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.adopt-button:hover {
    background-color: #0056b3;
}
